/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

@import url(http://fonts.googleapis.com/css?family=Berkshire+Swash);

body{
  margin:0;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;  
}

header{  
  color: #b81313;
  margin:.9rem 0;   
  font-family: 'Berkshire Swash', cursive;
  font-weight: normal;
  text-align: center;
  text-shadow: 0 .05em .1em #fff;
  animation-name: hover;
  animation-iteration-count: infinite;
  animation-duration: 3.5s;
  
}

  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 90%;
      margin: auto;
  }


h2, h3, h4{
  color: #b81313;
  font-family: 'Berkshire Swash', cursive;
}
h3{
  color:black;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
 border:1px black solid;
  margin-bottom: .9rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {

  background-color: green;
}
.carousel-inner > .item > img {

  top: 0;
  left: 0;
}


.picture{
  float:left;
  border:3px #D11C24 solid;
  margin:0 10px 10px 0;
}
p{
  text-align: justify;
  text-justify: inter-word;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
